.player { background: url(background.png) no-repeat 0 15px; height: 180px; }
.stations { text-align:center; width:370px; }
.stations a { color:#a1a1a1; margin:3px 4px; }

.albumimage, .albumloading { top:47;left:31; width:100px;height:100px; }
.albumloading { background:url(../ajax-loader.gif) no-repeat 20px 20px; }

.info { top:48;left:140; width:210px; }
.info a { font-family: verdana; }

.title { font-size: 16pt; color:#000; margin-bottom:4px; padding-right:54px; }
.album { font-size: 10pt; color:#444343; padding-right:35px; }
.artist{ font-weight: bold; font-size: 10pt; color:#444343; padding-right:35px; }

.play { top:0; left:300; background: url(play.png); width:80px;height:80px; }
.play:hover  { background:url(play-hover.png); }
.play:active { background:url(play-active.png); }

.pause { background: url(pause.png)!important; }
.pause:hover  { background:url(pause-hover.png)!important; }
.pause:active { background:url(pause-active.png)!important; }

.next { top:85; left:337; background: url(next.png); width:27px;height:27px; }
.next:active { background:url(next-active.png); }

.stop { top:115; left:337; background: url(stop.png); width:27px;height:27px; }
.stop:active { background:url(stop-active.png); }

.ui-slider { height:17px; width:145px; top:147px; left:190px;}
.ui-slider-handle { background:url(volume.png); width:17px;height:17px; }
.ui-slider-handle:active { background:url(volume-active.png); }